.calc {
    background-color: #f2f2f2;
    height: 659px;
}

.pan {
    background-color: white;
    height: 70px;
    border-color: black;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    color: gray;
    padding-right: 5px;
}

#pantalla {
    text-align: right;
}